<section class="container-fluid restaurant">
 <div class="row">
- <h3 class="text-center"><%= @restaurant.name %></h3>
   <div class="col-sm-12 col-md-8 col-md-offset-2">
   <dl class="dl-horizontal">
		<dt> Category:</dt>
		<dd><%= @restaurant.category %></dd>
		<dt>Price:</dt> 
		<dd>$<%= @restaurant.price %></dd>
		<dt>Description:</dt>
		<dd><%= @restaurant.description %></dd>
		<dt>Recommender:</dt>
		<dd><%= @restaurant.recommender %></dd>
		<dt>Location:</dt> 
		<dd><%= @restaurant.location %></dd>
		<dt>Website:</dt>
		<dd><a href="http://<%= @restaurant.website %>"target="_blank"><%= @restaurant.website %></a></dd>
		<dt>Best dish:</dt> 
		<dd><%= @restaurant.best_dish %></dd>
	</div>

	<div class="col-sm-12 col-md-4 item-image">
      <img class="middle" width=200px src="/images/<%= @restaurant.image %>"/>
    </div>

  <div> 
  	<div class="col-sm-12 col-md-8 col-md-offset-6">
	<button onclick="window.history.back()">Back</button>